[Desktop Entry]
Version=1.0
Name=TOR
Exec=bash -c "cd ~/Desktop/capstone/models/research/object_detection/inference_scripts && ./gui_styled.py"
Icon=/home/pranaymethuku/Desktop/capstone/models/research/object_detection/inference_scripts/images/tor_logo.svg
Terminal=false
StartupNotify=true
Type=Application
